<section class="my-14">

@if (!redirecting) {
    <div class="shadow border-2 border-green-500 px-10 py-5 bg-slate-100 mb-5">

        <h1 class="text-green-600 text-4xl font-bold text-center"> <i class="fa-solid fa-burst"></i> Forgot Passowrd

        </h1>
        
        @if(errorMessage!=''){
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg mt-9 bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">{{errorMessage}}</span>
                </div>
            </div>

            }

        @if(stage===1){

        <form [formGroup]="verifyEmail" class="flex flex-col" (ngSubmit)="stage1()">
            <div>
                <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Verify your
                    email : </label>
                <input type="email" id="Email" formControlName="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg my-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                    @if (verifyEmail.get('email')?.errors && verifyEmail.get("email")?.touched) {

                        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                            role="alert">
                            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-1.5 list-disc list-inside">
                                    @if (verifyEmail.get('email')?.getError('required')) {
    
                                    <li>Email is required</li>
                                    }
                                    @else {
                                    <li>Email must be in the email format (eg. johnDoe&#64;email.com)</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }
                
                
                    <button
                    class="bg-green-400 text-black hover:bg-green-900 hover:text-white rounded-3xl px-8 py-4 font-bold transition-all  block mx-auto "
                    [disabled]="verifyEmail.invalid">Verify 
                    @if (isLoading) {


                    <span>
                        <i class="fas fa-spin fa-gear"></i>
                    </span>
                    }
                </button>
            </div>




        </form>
        }
        @if(stage===2){
        <form [formGroup]="verifyCode" class="flex flex-col" (ngSubmit)="stage2()">

            <div>
                <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Verify your code
                    : </label>
                <input type="text" id="code" formControlName="resetCode"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg my-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


                    @if (verifyCode.get('resetCode')?.errors && verifyCode.get("resetCode")?.touched) {

                        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                            role="alert">
                            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                               
                                <ul class="mt-1.5 list-disc list-inside">
                                    @if (verifyCode.get('resetCode')?.getError('required')) {
                                        <span class="font-medium">Ensure that these requirements are met:</span>
                                    <li>code is required</li>
                                    }
                                    @else {
                                    <li>code is wrong </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }



                <button
                    class="bg-green-400 text-black hover:bg-green-900 hover:text-white rounded-3xl px-8 py-4 font-bold transition-all  block mx-auto "
                    [disabled]="verifyCode.invalid">Verify
                    @if (isLoading) {


                        <span>
                            <i class="fas fa-spin fa-gear"></i>
                        </span>
                        }
                </button>
            </div>




        </form>
        }


        @if(stage===3){

        <form [formGroup]="resetPassword" class="flex flex-col "  (ngSubmit)="stage3()">

            <div>
                <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your
                    email : </label>
                <input type="email" id="Email" formControlName="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg my-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">



                    @if (resetPassword.get('email')?.errors && resetPassword.get("email")?.touched) {

                        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                            role="alert">
                            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-1.5 list-disc list-inside">
                                    @if (resetPassword.get('email')?.getError('required')) {
    
                                    <li>Email is required</li>
                                    }
                                    @else {
                                    <li>Email must be in the email format (eg. johnDoe&#64;email.com)</li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }
                        
                        

                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter your
                    new password : </label>
                <input type="password" id="password" formControlName="newPassword"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg my-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">


                    @if (resetPassword.get('newPassword')?.errors && resetPassword.get("newPassword")?.touched) {

                        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                            role="alert">
                            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <span class="font-medium">Ensure that these requirements are met:</span>
                                <ul class="mt-1.5 list-disc list-inside">
                                    @if (resetPassword.get('newPassword')?.getError('required')) {
                                    <li>Password is required</li>
                                    }
                                    @if (resetPassword.get('newPassword')?.getError('pattern')) {
                                    <li>At least one uppercase letter.</li>
                                    <li>At least one lowercase letter.</li>
                                    <li>At least one digit</li>
                                    <li> At least one special character from $!%*?&&#64;.</li>
                                    <li>
    
                                        At least 8 characters long, allowing uppercase, lowercase, digits, and special
                                        characters.
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }  

                <button
                    class="bg-green-400 text-black hover:bg-green-900 hover:text-white rounded-3xl px-8 py-4 font-bold transition-all  block mx-auto "
                    [disabled]="resetPassword.invalid">Verify 
                
                    @if (isLoading) {


                        <span>
                            <i class="fas fa-spin fa-gear"></i>
                        </span>
                        }
                
                </button>
            </div>




        </form>
        }

    </div>
}
    @else {


        <div class="flex shadow my-7 flex-col items-center p-20 md:p-32 rounded-3xl bg-white ">
            <i class="fa-regular  fa-circle-check text-green-500 font-bold text-[60px]"></i>
            <h2 class="font-light text-black md:text-3xl text-md text-center ">Your password has been succesfully updated , you will now be redirected to the home page</h2>
    
        </div>
    }


</section>