<footer class="bg-gray-100 py-5">
    <div class="container mx-auto px-4">
      <h2 class="text-xl font-semibold m-0">Get The FreshCart App</h2>
      <p class="text-gray-600 text-sm">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <!-- inputs design  -->
      <div class="flex items-center gap-3 whitespace-nowrap my-2">
        <input type="text" class="w-full p-2 border rounded-md focus:border-y-green-300  focus:border-x-fuchsia-500 focus:border-4 transition-all " placeholder="Email" />
        <button class="bg-green-300 text-black px-4 py-2 rounded-md hover:bg-green-700 hover:text-white">Share App Link</button>
      </div>
  
      <hr class="my-6" />
  
      <!-- footer payment Details Design  -->
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <h3 class="text-sm font-semibold m-0">Payment partners</h3>
          <img src="images/amazon-pay.png" class="w-[30px]" alt="amazon pay" />
          <img
            src="/images/American-Express-Color.png"
            class="w-[30px]"
            alt="american express"
          />
          <img src="/images/paypal.png" class="w-[30px]" alt="paypal" />
          <img src="/images/mastercard.webp" class="w-[30px]" alt="mastercard" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="text-sm font-semibold m-0">Get Deliveries with FreshCart</h3>
          <img src="/images/get-google-play.png" class="w-[75px]" alt="google play" />
          <img src="/images/get-apple-store.png" class="w-[75px]" alt="apple store" />
        </div>
      </div>
    </div>
</footer>
